@import '../../shared/styles/variables';
@import '../../shared/styles/base';
@import '../../shared/styles/mixins';

.container {
}
.wrapper {

    &__toggle {
        display: flex;
        justify-content: flex-end;
    }

    &__add {

        &_coach {
            width: 120px;
            height: 38px;
            background: $lightblue;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            color: $black;
            font-size: 16px;
        }
    }
}
.coach {

		&__form {

            &_block {
                @include fl-center-sb;
                gap: 10px;
                margin-top: 20px;
            }

			&_name {
                padding: 0 12px;
			}

            &_desc {
                padding: 0 12px;
			}

            &_status {
                padding: 0 12px;
			}

            &_image {
                padding: 16px 12px;
			}

			&_button {
                width: 140px;
                height: 42px;
                background: $primary;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                color: $white;
                font-size: 20px;
			}
		}

        &__load {

            &_img {
				height: 100px;
    			margin-top: 20px;
			}

			&_button {
				width: 80px;
    			height: 40px;
    			background: red;
    			color: rgb(255, 255, 255);
    			font-size: 16px;
    			border: none;
    			border-radius: 4px;
    			cursor: pointer;
			}
        }
}

.coach__input {
    width: 100%;
    height: 56px;
    border: 1px solid $lightgray;
    border-radius: 10px;
    background: none;
    font-size: 16px;
    color: $black;
    margin-bottom: 20px;
    outline-color: $primary;
}

.form {
}
.table {
    width: 100%;
    border-collapse: collapse;

		&__wrapper {
            width: 100%;
		}

		&__header {
            width: 100%;
            border-bottom: 2px solid $lightblue;
		}

		&__item {
            padding: 20px 0;
            text-align: left;
		}

		&__main {
            border-bottom: 2px solid $lightgray;
		}
}
.header {

		&__sharp {
		}

		&__name {
		}

		&__way {
		}

		&__image {
		}

		&__actions {
		}
}
.main {

		&__sharp {
		}

		&__name {
		}

		&__actions {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;  
		}

        &__coach {

            &_image {
                height: 50px;
            }
        }
}

.actions {

    &__edit {
        font-weight: 700;
        color: $primary;
        font-size: 16px;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
    }

    &__delete {
        font-weight: 700;
        color: $primary;
        font-size: 16px;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
    }
}