$primary: #007EFE;
$lightgray: #f5f5f5;
$sidebar-gray: #8E8E8E;
$bg-gray: #F9F9F9;
$black: #212121;
$white: #fff;
$lightblue: #9ECEFF;
$text-gray: #7E7E7E;
$dark-gray: #8E8E8E;
$bg-main: #E3E6ED;
$green: rgb(0, 185, 0);